.title{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
.form-css{
    border: solid 1px;
    margin-top: 40px;
    margin-left: 5px;
    border-style: groove;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
   
}
.username{
    margin-bottom: 5vh;
    background-color: #fff;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
}
.pwd{
    margin-bottom: 5vh;
    margin-bottom: 5vh;
    background-color: #fff;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
}

.form-css, .username, .pwd{
    margin-bottom: 12vh;
    margin-top: 2vh;
    color: black;
    text-align: center;
    border-color: transparent;
    border: none;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.91;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.btn-submit{
    margin-top: 2vh;
    cursor:pointer;
      position:relative;
      padding:10px 20px;
      background:white;
      font-size:28px;
      border-top-right-radius:10px;
      border-bottom-left-radius:10px;
      transition:all 1s;
      &:after,&:before{
        content:" ";
        width:10px;
        height:10px;
        position:absolute;
        border :0px solid #fff;
        transition:all 1s;
        }
      &:after{
        top:-1px;
        left:-1px;
        border-top:5px solid black;
        border-left:5px solid black;
      }
      &:before{
        bottom:-1px;
        right:-1px;
        border-bottom:5px solid black;
        border-right:5px solid black;
      }
      &:hover{
        border-top-right-radius:0px;
      border-bottom-left-radius:0px;
        background:rgba(0,0,0,.5);
        &:before,&:after{
          
          width:100%;
          height:100%;
          border-color:white;
        }
      }
    }
.error-handler{
    color: rgb(127, 4, 4);
    text-align: center;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.success{
    color: rgb(35, 161, 240);
    text-align: center;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}